<!--<div class="cards-container">-->
  <!--<div *ngFor="let job of jobData; let i = index" class="job-cards-container">-->
    <!--<div appParallax-->
         <!--[ratio]="(i +1) * 0.3"-->
         <!--[id]="'job-card-' + i"-->
         <!--[style.top]="getCardTop()"-->
         <!--[style.left]="getCardLeft(i)">-->
      <!--<app-job-card [information]="job"></app-job-card>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<div id="total-container">
  <span id="name">
  <h2 id="main-title">Zane Russell</h2>
</span>
  <span id="parallax-container">
  <div appParallax
       [ratio]="-.5"
       id="job-card-0">
    <app-job-card [information]="jobData[1]"></app-job-card>
  </div>
  <div appParallax
       [ratio]="-.5"
       id="job-card-1">
    <app-job-card [information]="jobData[2]"></app-job-card>
  </div>
  <div appParallax
       [ratio]="-.5"
       id="job-card-2">
    <app-job-card [information]="jobData[3]"></app-job-card>
  </div>
  <div appParallax
       [ratio]=".5"
       id="job-card-3">
    <app-job-card [information]="personalSynopsis"></app-job-card>
  </div>
  <div appParallax
       [ratio]=".5"
       id="job-card-4">
    <app-job-card [information]="knowledgeList"></app-job-card>
  </div>
  <div appParallax
       [ratio]=".5"
       id="job-card-5">
    <app-job-card [information]="jobData[0]"></app-job-card>
  </div>

  <div appParallax [ratio]=".3" id="fill-div-0"></div>
  <div appParallax [ratio]=".6" id="fill-div-1"></div>
  <div appParallax [ratio]="-.4" id="fill-div-2"></div>
  <div appParallax [ratio]=".8" id="fill-div-3"></div>
  <div appParallax [ratio]="-.3" id="fill-div-4"></div>
  <div appParallax [ratio]="-.6" id="fill-div-5"></div>
  <div appParallax [ratio]="-.7" id="fill-div-6"></div>
  <div appParallax [ratio]="-.7" id="fill-div-7"></div>
</span>


  <router-outlet></router-outlet>

  <!--<div id="container">-->
    <!--<div id="content">-->

    <!--</div>-->
  <!--</div>-->


  <!--<div appParallax [ratio]="-0.2" id="square"></div>-->
  <!--<div appParallax [ratio]="0.5" id="circle"></div>-->
  <!--<div appParallax [ratio]="0.9" id="rectangle"></div>-->

</div>
