.job-card-container {
	width: 400px;
	height: 400px;
	color: #efefef;
	margin: 0;
	padding: 0;
}

.job-status {
	font-family: 'Raleway', serif;
	margin: 15px auto;
	font-weight: 200;
	text-align: center;
	height: 20px;
}

.job-card-top {
	font-family: 'Raleway', serif;
	margin: 55px auto 0;
	font-weight: 200;
	display: flex;
	justify-content: space-between;
}

.job-time-text {
	font-size: 16px;
}

.job-title-text {
	margin: 0;
}

.job-card-bottom {
	font-family: 'Raleway', serif;
	font-weight: 200;
	margin: 0 auto;
}

#personal-statement-text {
	margin-top: 110px;
	font-family: 'Raleway', serif;
	font-weight: 200;
	width: 90%;
	font-size: 20px;
}

.job-card-full {
	display: flex;
}

.knowledge-title {
	font-family: 'Raleway', serif;
	font-weight: 200;
	color: #efefef;
	width: 150px;
	margin: 0;
	margin-top: calc(50% - 20px);
	//margin-top: 20px;
	margin-left: 30px;
}

.knowledge-list-container {
	width: 49%;
	display: flex;
	flex-direction: column;
	margin: 5px 0;
}

.knowledge-list {
	font-family: 'Raleway', serif;
	font-weight: 200;
	color: #efefef;
	margin: 0 0 2px 45px;
}

